body.ghibli {
  background-image: url("ghibli.jpg");}
body.flower {
  background-image: url("flower.jpg");}
body.painting {
  background-image: url("painting.jpg"); background-size: cover;}
body.vintage {
  background-image: url("vintage.jpg"); background-size: cover;}
